/* plus-jakarta-sans & lexend font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

@font-face {
    font-display: swap;
    font-family: "Moomello";
    src: url("/fonts/moomello/Moomello-Free.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@theme {
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --font-lexend: "Lexend", sans-serif;
    --font-moomello: "Moomello", sans-serif;
}
<<<<<<< HEAD
=======


/* 3D Push (red-orange) --- ukm details*/
.btn.push {
  background: #ff4b2b;
  box-shadow: 0 6px #c1331e;
}
.btn.push:active {
  box-shadow: 0 2px #c1331e;
  transform: translateY(4px);
}
>>>>>>> c154f6e (fix: ukm page responsiveness)
