/* swal css */
@import url("./lib/components/swal/swal.css");


/* plus-jakarta-sans & lexend font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

@import "tailwindcss";

:root {
  /* raw colors */
  /* light */
	--color-cream: #fef7eb;
	--color-soft-pink: #f6babc;
	--color-pale-gold: #fde7ae;
	--color-light-peach: #ffe8e2;
	--color-light-gold: #ffe8aa;
	--color-off-white: #e2e1da;
	--color-white: #ffffff;

	/* dark */
	--color-deep-purple: #332c42;
	--color-burgundy: #a81745;
	--color-near-black: #0a0007;
	--color-midnight-blue: #131228;
	--color-dark-magenta: #612a4f;
	--color-muted-magenta: #F5B8BB;
	--color-deep-violet: #20002a;
	--color-slate-blue: #373d7e;

	/* red */
	--color-dark-red-1: #4d1526;
	--color-dark-red-2: #6b112c;
	--color-dark-red-3: #781332;
	--color-dark-red-4: #831738;
	--color-dark-red-5: #8e183c;

  /* orange */
	--color-orange-center: #c66139;
	--color-orange-dark: #963032;
	--color-red-mid: #65112f;
	--color-red-deep: #4d1526;
	--color-red-edge: #260e16;

  /* exclusive component colors, check components/home/CollorPallete untuk referensi gradient kalau perlu :)) */
	/* -- text -- */
	--text-primary: var(--color-cream);
  --text-secondary: var(--color-soft-pink);
	/* --text-primary-gradient: linear-gradient(to top right, var(--color-soft-pink), var(--color-cream), var(--color-white)); */
	--text-tertiary: var(--color-pale-gold);
	--text-dark: var(--color-deep-purple);
	--text-dark-secondary: var(--color-burgundy);

	/* -- bg -- */
  --bg-dark-primary: var(--color-dark-red-1);
  --bg-dark-secondary: var(--color-dark-red-3);
  --bg-dark-tertiary: var(--color-dark-red-5);
	/* --bg-dark-gradient: linear-gradient(to top left, var(--color-dark-red-1), var(--color-dark-red-2), var(--color-dark-red-3), var(--color-dark-red-4), var(--color-dark-red-5)); */
	--bg-light-primary: var(--color-muted-magenta);
  --bg-light-secondary: var(--color-light-peach);
  /* --bg-light-gradient: linear-gradient(to top, var(--color-muted-magenta), var(--color-light-peach)); */

	/* -- buttons -- */
	--button-primary: var(--bg-light-primary);
  /* --button-primary-gradient: var(--bg-light-gradient); */
  --button-blue-primary: var(--color-near-black);
  --button-blue-secondary: var(--color-midnight-blue);
  --button-blue-tertiary:var(--color-dark-magenta);
	/* --button-secondary-gradient: radial-gradient(ellipse at bottom, var(--color-near-black) 0%, var(--color-midnight-blue) 40%, var(--color-dark-magenta) 100%); */
  --button-violet-primary:var(--color-deep-violet);
  --button-violet-secondary: var(--color-slate-blue);
	/* --button-tertiary-gradient: linear-gradient(to right, var(--color-deep-violet), var(--color-slate-blue), var(--color-deep-violet)); */
	--button-outline-primary:var(--color-light-gold);
  --button-outline-secondary:var(--color-off-white);
  /* --button-outline-gradient: linear-gradient(to top, var(--color-light-gold), var(--color-off-white)); */
}

@font-face {
    font-display: swap;
    font-family: "Moomello";
    src: url("/fonts/moomello/Moomello-Free.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Spekk";
    src: url("/fonts/spekk/Spekk.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Roxhead";
    src: url("/fonts/roxhead/Roxhead.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "IFC Los Banditos";
    src: url("/fonts/ifc-los-banditos/IFC LOS BANDITOS.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@theme {
    --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --font-lexend: "Lexend", sans-serif;
    --font-moomello: "Moomello", sans-serif;
	--font-spekk: "Spekk", sans-serif;
	--font-spicyrice: "Spicy Rice", sans-serif;
	--font-spekk: "Spekk", sans-serif;
	--font-ifc: "IFC Los Banditos", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
html {
	scroll-behavior: smooth;
}

/* 3D Push (red-orange) --- ukm details*/
.btn.push {
  background: #ff4b2b;
  box-shadow: 0 6px #c1331e;
}
.btn.push:active {
  box-shadow: 0 2px #c1331e;
  transform: translateY(4px);
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}